/*Moon Calendar*/

.single-moon-calendar-title {
    display: block;
    margin-bottom: 25px;
}

.single-moon-calendar-icons {
    float: left;
    margin-top: 7px;
}

.single-moon-calendar-title h1 {
    clear: none;
    margin: 0;
    padding: 0;
}

.single-moon-calendar-title small {
    margin: -10px 0 0 0;
    padding: 0;
}

.single-moon-calendar-content {
    clear: both;
}

.moon-calendar {
    margin-bottom: 0.4em !important;
}

.moon-calendar-icon {
    display: block;
    max-width: 38px; 
    max-height: 38px;
    float: left;
    margin-right: 4px;
}

.moon-calendar-icon:last-child {
    margin-right: 10px;
}

.moon-calendar .small {
    color: #555;
    text-transform: none;
}

/*Dreams*/

.dreams tr {
    border-bottom: none;
}

.dreams-hr {
    border-bottom: 10px dotted #F5DEEF;
}

#dreams-hints-toggle {
    width: 100%;
    text-decoration: underline;
    text-align: center;
}

#dreams-hints-toggle:hover {
    cursor: pointer;
}


/*Buttons*/
.button-wform {
    background-color: rgba(245, 245, 245, 0.95);
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #777;
	cursor: pointer;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
    border: 1px solid rgba(225, 225, 225, 0.85);
}