
.econt_shipping_to_door { display:none; }
.econt_shipping_to_office { display:none; }
.econt_shipping_to_machine { display:none; }

.econt_shipping_from_door { display:none; }
.econt_shipping_from_office { display:none; }
.econt_shipping_from_machine { display:none; }
.econt_shipping_cost { display:none; }

#econt_city_courier_field { display:none; }

#econt_door_postcode, #econt_offices_postcode, #econt_door_street_num, #econt_door_street_bl, #econt_door_street_vh, #econt_door_street_et, #econt_door_street_ap {width: 120px;}

#sender_door select { width: 250px; }

.econt_clear {clear:both; }

#woocommerce_econt_shipping_method_live_description {
	  margin: 2px 0 5px;
  	  color: #666;
  	  font-style: italic;
  	  font-size: 14px;
  	  margin-bottom: 8px;

}

/* Center the loader */
#econtLoader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

